@import "../../assets/colors";

.card-container {
  z-index: 99!important;
  width: 100%;
  position: absolute;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  background-color: $gray-30;
  text-transform: capitalize;
  box-shadow: 1px 1px 10px $gray-100;
  border-radius: 8px;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
    background-color:transparent !important;
    border: none;

    .info-container {
      margin: 5px auto;

      .label {
        font-weight: 400;
        font-size: 15px;
      }

      .subject {
        font-weight: 600;
        font-size: 17px;
      }
    }

    .big {
      flex: 3;
      margin-left: 10px;
    }

    .medium {
      flex: 2;
    }

    .small {
      flex: 1;
      margin-right: 10px;
    }
  }
}
