<main class="container">
  <section class="login-container">
    <section class="top">
      <div class="system-name" [routerLink]="['/']">
        <h1 class="bold">Amb</h1>
        <h1 class="thin">cor</h1>
      </div>
      <h3 class="system-description">Redefinição de senha</h3>
    </section>
    <section class="bottom" [formGroup]="redefinePass" (ngSubmit)="update()">
      <div class="login-form-group">
        <fa-icon class="login-icon" [icon]="['fas','lock']"></fa-icon>
        <input class="login-form-control" formControlName="senha" placeholder="Nova senha" type="password">
      </div>
      <div>
      </div>
      <div class="login-form-group">
        <fa-icon  class="login-icon send-icon" [icon]="['fas','paper-plane']"></fa-icon>
        <button class="button-login" (click)="update()">Cadastrar</button>
        <div [ngClass]="[ this.error ? 'invalid': 'valid']">
          {{messageError}}
          <fa-icon class="icon" [icon]="['fas','frown']"></fa-icon>
        </div>
      </div>
    </section>
  </section>
</main>
