<main *ngIf="!linkExpired" class="container">
  <h3 class="system-state-title">Redefinição de senha</h3>
  <section class="login-container">
    <section class="top">
      <img class="img-login" src="../../images/heart.png">
      <div class="system-name">
        <h1 class="bold">Amb</h1>
        <h1 class="thin">cor</h1>
      </div>
      <h3 class="system-description">Sistema de atendimento ambulatorial</h3>
    </section>
    <section class="bottom" [formGroup]="form" >
      <div class="login-form-group" >
        <fa-icon class="login-icon" [icon]="['fas','lock']"></fa-icon>
        <input class="login-form-control" [type]="'password'" formControlName="senha" placeholder="Nova senha"
               #password>
      </div>
      <div class="login-form-group">
        <fa-icon class="login-icon" [icon]="['fas','lock']"></fa-icon>
        <input class="login-form-control" [type]="'password'" formControlName="confirmacaoSenha"
               placeholder="Confirmar senha" #confirmPassword>
      </div>
      <div class="login-form-group">
        <fa-icon class="login-icon send-icon" (click)="update()" [icon]="['fas','paper-plane']"></fa-icon>
        <button class="button-login" (click)="update()">Salvar</button>
      </div>
      <section class="container-alerts">
        <div *ngIf="capsOn" [ngClass]="capsOn ? 'capsLockOn':''">
          <p>Atenção: CapsLock ativo</p>
        </div>
        <div *ngIf="!numLock" [ngClass]="!numLock ? 'numLockOff':''">
          <p>Atenção: O teclado numérico está desligado</p>
        </div>
      </section>
      <div class="valid" #errorContainer>
        As senhas não conferem
        <fa-icon class="icon-sad" [icon]="['fas','frown']"></fa-icon>
      </div>
    </section>
  </section>
</main>

<section *ngIf="linkExpired" class="error-container">
  <section class="error-content">
    <h3 class="message">Parece que seu link expirou...</h3>
    <div>
      <fa-icon class="icon" [icon]="['fas','sad-tear']"></fa-icon>
    </div>
  </section>
  <div class="links-container">
    <a class="link" [routerLink]="['/']">Ir para o login</a>
    <a class="link" [routerLink]="['/forgot']">Enviar novo link</a>
  </div>
</section>
