<nav class="nav-container">
  <a [routerLink]="['/agenda','list']" class="back">
    <fa-icon [icon]="['fas','arrow-left']"></fa-icon>
    Voltar
  </a>
  <h3>{{getDay(dataAgenda)}} de {{getMes()}}</h3>
  <div>
    <button #btnManha class="btn-horario btn-active" (click)="setHorario('manhã')">Manhã</button>
    <button #btnTarde class="btn-horario" (click)="setHorario('tarde')">Tarde</button>
  </div>
</nav>
<section class="content-default">
  <main class="pacientes-container">
    <section [ngClass]="{'atendido': wasAtendido(paciente)}" *ngFor="let paciente of pacientes"
             (click)="goAtendimento(paciente)">
      <div *ngIf="getHour(paciente?.hora) > this.hourMin && getHour(paciente?.hora) < this.hourMax " class="row-agenda">
        <span class="retorno" *ngIf="paciente?.registro?.origem == 'RETORNO'"><fa-icon
          [icon]="['fas','registered']"></fa-icon></span>
        <span class="info">{{paciente?.id}}</span>
        <span [ngClass]="[paciente?.registro?.id == undefined ? 'italic': '']"
              class="info">{{paciente?.registro?.id == undefined ? 'Não efetivado' : paciente?.registro?.id }}</span>
        <span class="info nome">{{paciente?.nome}}</span>
        <span class="info idade">{{getIdade(paciente?.nascimento)}}</span>
        <span class="info convenio">{{paciente?.convenio?.fantasia}}</span>
      </div>
    </section>
    <div class="withoutData" *ngIf="countPacientes() == 0">
      Você não possui pacientes neste horário!
      <fa-icon class="icon" [icon]="['fas','frown']" size="2x"></fa-icon>
    </div>
  </main>
</section>
<ngx-spinner bdColor="rgba(255,255,255, 0.7)" color="#4DC2B3" size="medium" type="ball-pulse">
  <p class="spinner-title">Carregando...</p>
</ngx-spinner>


