@import "~src/styles";

.back {
  font-size: 18px;
}

.pacientes-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;

  .row-agenda {
    display: flex;
    align-content: space-between;
    justify-items: center;
    width: 100%;
    margin: 5px;
    border-bottom: 1px solid $gray-60;
    border-top: 1px solid $gray-60;
    text-align: left;
    font-size: 16px;

    &:hover {
      transition: 0.5s;
      border-bottom: 1px solid $gray-60;
      border-top: 1px solid $gray-60;
      box-shadow: 1px 1px 10px $gray-80;

      .info {
        cursor: pointer;
        transition: 0.5s;
        background: $gray-50;
      }
    }

    .idade {
      justify-content: center;
    }

    .nome {
      flex: 2 !important;
    }

    .convenio {
      justify-content: center;
    }

    .info {
      display: flex;
      align-items: center;
      flex: 1;
      background: $gray-20;
      padding: 15px;
    }

    .retorno{
      align-self: center;
      color: $danger;
    }
    .italic{
      font-style: italic;
      font-weight: 600;
    }
  }
}

.btn-horario {
  width: 150px;
  padding: 5px;
  margin-left: 10px;

  & {
    border: 1px solid $gray-70;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    color: white;
  }
}

.btn-active {
  transition: 0.5s;
  background-color: $gray-80;
}

.atendido{
  color: $gray-70!important;
}


