<nav class="nav-top">
  <a [routerLink]="['/agenda','list']" class="btn-back">
    <fa-icon [icon]="['fas','arrow-left']"></fa-icon>
    Voltar
  </a>
  <p class="title-main">{{agenda.getMes()}}</p>
  <button #btnEnabled class="btn-navtop-agenda btn-agenda-manha btn-active" (click)="toogleColorBtn($event)">Manhã
  </button>
  <button #btnDisabled class="btn-navtop-agenda btn-agenda-tarde" (click)="toogleColorBtn($event)">Tarde</button>
</nav>
<perfect-scrollbar class="content-default">
  <table class="table-show-paciente">
    <tr #pacientesTable *ngFor="let agenda of agendaAuxiliar" [routerLink]="['/historico', 'list', agenda.id]">
      <td>
        <fa-icon *ngIf="agenda.retorno" class="fa-registered" [icon]="['fas', 'registered']"></fa-icon>
      </td>
      <td>{{agenda.prontuario}}</td>
      <td>{{agenda.codpac}}</td>
      <td>{{agenda.paciente.nome}}</td>
      <td>{{agenda.paciente.idade}}</td>
      <td>{{agenda.convenio}}</td>
    </tr>
  </table>
</perfect-scrollbar>


