@import "~src/styles";

.table-show-paciente{
  width: 95%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0px 10px;
  & td{
    font-size: 20px !important;
    background: $gray-20;
    padding: 15px;
    border-top: 1px solid $gray-60;
    border-bottom: 1px solid $gray-60;
  }

  & .fa-registered{
    color: #C24D4D ;
  }
}


