<ngx-spinner bdColor="rgba(255,255,255, 0.7)" color="#4DC2B3" size="medium" type="ball-pulse">
  <p class="spinner-title">Carregando...</p>
</ngx-spinner>
<nav class="nav-container">
  <a [routerLink]="['/usuario','list']" class="back" [ngStyle]="{'visibility': 'hidden'}">
    <fa-icon [icon]="['fas','arrow-left']"></fa-icon>
    Voltar
  </a>
  <h3>Busca de pacientes</h3>
  <div [formGroup]="searchForm" class="search-container">
    <input (focus)="search()" formControlName="searchControl" id="search-text"
           placeholder="Procure: Nome, crm ou login..." type="text">
    <button id="search-button">
      <fa-icon [icon]="['fas','search']"></fa-icon>
    </button>
  </div>
</nav>
<section [scrollWindow]="false" [hidden]="true" infinite-scroll (scrolled)="scrollDown()" class="content-default">
  <main class="table">
    <section class="thead">
      <span class="th">PRONTUÁRIO</span>
      <span class="th">NOME</span>
      <div class="th options">
        <fa-icon [icon]="['fas','cog']"></fa-icon>
      </div>
    </section>
    <section *ngIf="pacientes!=null" class="tbody">
      <div *ngFor="let paciente of pacientes" class="row">
        <span class="td">{{paciente?.id }}</span>
        <span class="td flex-2">{{paciente?.nome}}</span>
        <div class="td options flex-2">
          <section>
            <fa-icon (click)="toogle(paciente)" [routerLink]="['/paciente','edit',paciente]" class="icon login"
                     [icon]="['fas','eye']"></fa-icon>
            <fa-icon [routerLink]="['/atendimento',paciente.id]" class="icon" [icon]="['fas','book-medical']"></fa-icon>
          </section>
          <paciente-info id="{{paciente.id}}" *ngIf="showCard && paciente == this.currentPaciente"
                         [paciente]="paciente"></paciente-info>
        </div>
      </div>
      <div class="withoutData" *ngIf="pacientes.length == 0">
        Nenhum paciente foi encontrado!
        <fa-icon class="icon" [icon]="['fas','frown']" size="2x"></fa-icon>
      </div>
    </section>
  </main>
</section>
