@import 'assets/colors';
@import 'assets/mixins';

* {
  padding: 0;
  margin: 0;
  font-family: Roboto, 'sans-serif';
  text-decoration: none;
  color: inherit;
  border: none;
  outline: transparent;

  &::selection {
    background-color: $gray-70;
  }
}

usuario-list, usuario-edit, agenda-show, agenda-list, busca {
  width: 100%;
  height: 100%;
}

body {
  height: 100vh;
}

$nav-height: 35px;
.container {
  @include container-form(flex, 100%, 100%, $gray-20, $gray-80);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  color: $gray-100;
  font-size: 18px;
}

.content-default {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100% - 35px);
  background-color: $gray-30;
  border-radius: 6px;
  box-shadow: 0 0 6px $gray-100;
}

.nav-top {
  display: flex;
  align-items: center;
  vertical-align: middle;

  & .btn-back {
    color: $gray-80;
    position: absolute;
  }

  & .title-main {
    text-align: center;
    width: 100%;
    font-size: 36px;
    font-family: Roboto Medium, "sans-serif";
    letter-spacing: 2px;
  }
}

.nav-container {
  font-size: 20px;
  height: $nav-height;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  width: 100%;

  .back {
    color: $gray-80;

    &:hover {
      transition: 0.3s;
      color: $gray-100;
    }
  }

  .search-container {
    display: flex;
    justify-content: flex-start;

    #search-button {
      font-size: 20px;
      margin: auto 2px;
      height: 35px;
      width: 35px;
      border-radius: 3px;
      color: $white;
      background-color: rgba(#2B517E, 0.5);

      &:hover {
        transition: 0.3s;
        cursor: pointer;
        background-color: $blue-default;
      }

    }

    #search-text {
      & {
        color: $gray-80;
        padding-left: 5px;
        font-size: 20px;
        border-radius: 3px;
        border: 1px solid $gray-70;
      }

      &::placeholder {
        color: $gray-70;
        font-size: 16px;
      }

      &:focus {
        box-shadow: 0 0 6px $blue-default;
      }
    }
  }
}

.spinner-title {
  color: $gray-80;
}


.form-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  text-transform: capitalize;
  align-items: self-start;
}

.form-group {
  display: flex;
  margin: 0 5px;
  flex-direction: column;
  flex: 1;

  .form-label {
    font-size: 15px;
  }

  .form-control {
    padding: 8px;

    & {
      font-size: 18px;
      border-radius: 5px;
      border: 1px solid $gray-70;
      box-shadow: 2px 2px 10px $gray-70;
      text-transform: inherit;
    }
  }

  .control-disable {
    background-color: $gray-60;
    pointer-events: none;
    cursor: not-allowed;
  }
}

.button {
  color: $gray-100;
  font-weight: 700;
  padding: 5px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: $gray-70;
  }
}

.table, .thead, .tbody, .options, .row {
  display: flex;
}

.table {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  width: 95%;
  color: $white;
  font-size: 16px;

  .thead, .row {
    margin-bottom: 2px;
    padding: 5px 0;
    background-color: $gray-70;
    border-radius: 8px;
    border: 1px solid $gray-70;
  }

  .thead {
    border: 1px solid $gray-100;

    .options {
      align-items: center;
      justify-content: center;
    }
  }

  .row {
    background-color: $white;
  }

  .tbody {
    flex-direction: column;
    color: $gray-100;

    .options {
      padding: 0 8px;

      & {
        align-items: center;
        justify-content: center;
        font-size: 18px;
      }

      .icon {
        margin: 0 7px;
        color: $gray-80;

        &:hover {
          cursor: pointer;
          transition: 0.3s;
          color: $gray-100;
        }
      }
    }
  }

  .th, .td {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    text-transform: uppercase;
  }
}
