@import 'assets/colors';
@import 'assets/mixins';

* {
  padding: 0;
  margin: 0;
  font-family: Roboto, 'sans-serif';
  text-decoration: none;
}

usuario-list {
  width: 100%;
  height: 100%;
}

agenda{
  width: 100%;
  height: 100%;
}

body {
  height: 100vh;
}

button, input {
  border: none;
  outline: transparent;
}

$nav-height:35px;

.container {
  @include container-form(flex, 100%, 100%, $gray-20, $gray-80);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  color: $gray-100;
  font-size: 18px;
}

.content-default {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100% - 35px);
  background-color: $gray-30;
  border-radius: 6px;
  box-shadow: 0 0 6px $gray-100;
}

.nav-container {
  height: $nav-height;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  width: 100%;

  .back {
    color: $gray-80;

    &:hover {
      transition: 0.3s;
      color: $gray-100;
    }
  }

  .search-container {
    display: flex;
    justify-content: start;

    #search-button {
      font-size: 20px;
      margin: auto 2px;
      height: 35px;
      width: 35px;
      border-radius: 3px;
      color: $white;
      background-color: rgba(#2B517E, 0.5);

      &:hover {
        transition: 0.3s;
        cursor: pointer;
        background-color: $blue-default;
      }

    }

    #search-text {
      & {
        color: $gray-80;
        padding-left: 5px;
        font-size: 20px;
        border-radius: 3px;
        border: 1px solid $gray-70;
      }

      &::placeholder {
        color: $gray-70;
        font-size: 16px;
      }

      &:focus {
        //transition: 1s linear;
        box-shadow: 0 0 6px $blue-default;
        //border: 1px solid $blue-default;
      }
    }
  }
}


