$gray-10: #F1E4E4;
$gray-20: #F8F8F8;
$gray-30: #F2F2F2;
$gray-40: #E9E9E9;
$gray-50: #EEEAEA;
$gray-60: #DFD6D6;
$gray-70: #A9ABAE;
$gray-80: #87888A;
$gray-90: #707070;
$gray-100: #5A5B5B;
$danger: #C24D4D;
$light-danger: #D48787;
$success: #149553;
$green-default: #4DC2B3;
$blue-default: #2B517E;
$white: #FFFFFF;
