
@font-face {
    font-family: manjari-bold;
    src: url('~src/fonts/manjari/manjari-bold-webfont.woff2') format('woff2'),
         url('~src/fonts/manjari/manjari-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: manjari;
    src: url('~src/fonts/manjari/manjari-regular-webfont.woff2') format('woff2'),
         url('~src/fonts/manjari/manjari-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: manjari-thin;
    src: url('~src/fonts/manjari/manjari-thin-webfont.woff2') format('woff2'),
         url('~src/fonts/manjari/manjari-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
