@import "~src/styles";

.back {
  font-size: 18px;
}

.container-atendimento {
  flex: 3;
  overflow-y: scroll;
  box-shadow: 1px 1px 5px $gray-80;
  padding: 10px;
  border-radius: 8px;
  background-color: $gray-50;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-color: $white;
    box-shadow: 0 1px 5px $gray-80;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: default;

    &:hover {
      box-shadow: -3px -1px 10px $gray-80;
      transition: 0.4s;
    }

    .content-card {
      width: 60%;
      margin-bottom: 5px;
    }

    .footer-card {
      font-size: 14px;
      display: flex;
      justify-content: space-between;

      .data, .usuario {
        color: $blue-default;
        font-weight: 400;
      }
    }
  }
}

.atendimento-form {
  border-radius: 8px;
  display: flex;
  margin-top: 20px;
  height: 120px;

  .form-control {
    resize: none;
    border-radius: 8px 0 0 8px;
    padding: 10px;
    flex: 3;
    font-size: 18px;
    border: 1px solid $gray-60;
    border-right-color: transparent;
    background-color: $white;

    &:hover {
      transition: 0.3s;
      box-shadow: -1px 2px 10px $gray-80;
    }

    &:focus {
      box-shadow: 1px 1px 10px $gray-80;
    }
  }

  .container-buttons {
    padding: 5px;
    box-shadow: 2px 2px 5px $gray-70;
    border: 1px solid $gray-60;
    border-left: transparent;
    display: flex;
    border-radius: 0 5px 5px 0;
    width: 200px;
    flex-direction: column;
    justify-content: space-between;


    .cid-container {
      box-shadow: 1px 1px 5px $gray-80;
      display: flex;
      border-radius: 5px;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      justify-content: center;
      font-size: 15px;
      flex: 3;
      margin-bottom: 5px;

      &:hover {
        cursor: pointer;
        transition: 0.5s;
        background-color: $gray-20;
        box-shadow: 1px 1px 15px $gray-100;

        .cid-icon, .cid-selected {
          transition: 0.5s;
          color: $green-default;
          cursor: pointer;
        }
      }

      .cid-icon {
        color: $gray-80;
        font-size: 40px;
      }
    }

    .btn-save {
      border-radius: 5px;
      flex: 1;
      letter-spacing: 1px;
      font-weight: 400;
      background-color: rgba($blue-default, 0.8);
      color: $white;

      &:hover {
        background-color: $blue-default;
      }
    }
  }
}

.valid-cid {
  * {
    color: $green-default !important;
  }
}

.invalid-cid {
  * {
    color: $light-danger !important;
  }
}

.container-search {
  bottom: 150px;
  right: 60px;
  position: absolute;
}
