<nav class="nav-container">
  <a (click)="back()" class="back">
    <fa-icon [icon]="['fas','arrow-left']"></fa-icon>
    Voltar
  </a>
  <p class="title-main">Histórico de Atendimentos</p>
  <h3>{{paciente?.nome}}</h3>
</nav>
<section class="container-atendimento">
  <article *ngFor="let atendimento of atendimentos" class="card">
    <p class="content-card">{{atendimento.conteudo}}</p>
    <footer class="footer-card">
      <span class="data">{{dateToString(atendimento?.dataAtendimento)}}</span>
      <span class="cid">{{atendimento.cid.id}} - {{atendimento.cid.diagnostico}}</span>
      <span class="usuario">CRM: {{atendimento.usuario.crm}} - {{atendimento.usuario.nome}}</span>
    </footer>
  </article>
  <div class="withoutData" *ngIf="atendimentos?.length == 0">
    O paciente ainda não possui atendimentos.
    <fa-icon class="icon" [icon]="['fas','frown']" size="2x"></fa-icon>
  </div>
</section>
<div class="none" [ngClass]="[getControl('conteudo').invalid && getControl('conteudo').dirty ? 'errors':'none']"
     #conteudo>
  Você não escreveu nada no histórico.
  <fa-icon class="icon" [icon]="['fas','frown']" size="2x"></fa-icon>
</div>
<form class="atendimento-form" [formGroup]="atendimentoForm" (ngSubmit)="save()">
  <textarea (input)="updateConteudo()" formControlName="conteudo"
            placeholder="-- Escreva aqui o histórico deste atendimento --" class="form-control"></textarea>
  <section class="container-buttons">
    <div class="none" [ngClass]="[getControl('id').invalid && getControl('id').dirty ? 'errors':'none']" #cid>
      Você não selecionou um cid.
      <fa-icon class="icon" [icon]="['fas','frown']" size="2x"></fa-icon>
    </div>
    <div formGroupName="cid" class="cid-container" (click)="search()"
         [ngClass]="{'valid-cid': atendimentoForm.get('cid').get('id').valid}">
      <fa-icon *ngIf="atendimentoForm.get('cid').get('id').invalid" class="cid-icon"
               [icon]="['fas','book-medical']"></fa-icon>
      <input *ngIf="atendimentoForm.get('cid').get('id').valid" formControlName="id" class="cid-info">
      <input formControlName="diagnostico" class="cid-info">
    </div>
    <button type="submit" class="button btn-save">Salvar</button>
  </section>
  <div class="container-search" *ngIf="activeSearch">
    <fast-search (getData)="selectCid($event)" [service]="cidService" [fields]="['id','diagnostico']"
                 [widthField]="['1','3']"></fast-search>
  </div>
</form>
<ngx-spinner bdColor="rgba(255,255,255, 0.7)" color="#4DC2B3" size="medium" type="ball-pulse">
  <p class="spinner-title">Carregando...</p>
</ngx-spinner>
