@import "~src/styles";

.back {
  flex: 1;
  font-size: 18px;
}

.container-atendimento {
  position: relative;
  flex: 3;
  overflow-y: scroll;
  box-shadow: 1px 1px 5px $gray-80;
  padding: 10px;
  border-radius: 8px;
  background-color: $gray-50;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-color: $white;
    box-shadow: 0 1px 5px $gray-80;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: default;

    &:hover {
      box-shadow: -3px -1px 10px $gray-80;
      transition: 0.4s;
    }

    .content-card {
      width: 60%;
      margin-bottom: 5px;
    }

    .footer-card {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      font-weight: 400;

      .data, .usuario {
        color: $blue-default;
      }

      .cid {
        color: $danger;
      }
    }
  }
}

.atendimento-form {
  position: relative;
  border-radius: 8px;
  display: flex;
  margin-top: 20px;
  height: 120px;

  .historico-errors {
    top: -50px !important;
  }

  .disabled{
    cursor: not-allowed;
  }
  .form-control {
    display: flex;
    flex-direction: column;
    resize: none;
    border-radius: 8px 0 0 8px;
    padding: 10px;
    flex: 3;
    font-size: 18px;
    border: 1px solid $gray-60;
    border-right-color: transparent;
    background-color: $white;

    &::placeholder {
      color: $gray-70;
      padding-top: 35px;
      text-align: center;
      margin-top: 100px;
    }

    &:hover {
      transition: 0.3s;
      box-shadow: -1px 2px 10px $gray-80;
    }

    &:focus {
      box-shadow: 1px 1px 10px $gray-80;
    }
  }

  .container-buttons {
    position: relative;
    padding: 5px;
    box-shadow: 2px 2px 5px $gray-70;
    border: 1px solid $gray-60;
    border-left: transparent;
    display: flex;
    border-radius: 0 5px 5px 0;
    width: 200px;
    flex-direction: column;
    justify-content: space-between;

    .errors {
      width: 200px;
      bottom: 125px;
    }

    .cid-container {
      display: flex;
      align-items: center;
      justify-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 5px;
      flex: 3;

      & {
        box-shadow: 1px 1px 5px $gray-80;
        border-radius: 5px;
        font-size: 15px;
        color: $gray-80;
      }

      &:hover {
        cursor: pointer;
        transition: 0.5s;
        background-color: $gray-20;
        box-shadow: 1px 1px 15px $gray-100;

        .cid-icon, .cid-info {
          transition: 0.5s;
          color: $green-default;
          cursor: pointer;
        }
      }

      .cid-info {
        text-align: center;
        font-size: 15px;
        width: 100%;
        padding: 0;
        background-color: transparent;

        &:first-child {
          font-size: 16px;
          font-weight: 700;
        }
      }

      .cid-icon {
        font-size: 40px;
      }
    }

    .btn-save {
      flex: 1;
      border-radius: 5px;
      letter-spacing: 1px;
      font-weight: 400;
      background-color: rgba($blue-default, 0.8);
      color: $white;

      &:hover {
        background-color: $blue-default;
      }
    }
  }
}

.valid-cid {
  color: $green-default !important;
}

.invalid-cid {
  color: $light-danger !important;
}

.container-search {
  bottom: 150px;
  right: 60px;
  position: absolute;
}

.errors {
  display: flex !important;
  position: absolute;
  width: 250px;

  & {
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    color: $white;
    transition: 500ms;
    background-color: $light-danger;
  }

  .icon {
    margin-left: 2px;
  }
}

.none {
  display: none;
}

.paciente-info {
  text-align: center;
  flex-direction: row;
  position: relative;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid $gray-60;

  .icon {
    margin-right: 10px;
  }

  &:hover {
    color: $blue-default;
    box-shadow: 1px 1px 15px $gray-100;
    cursor: pointer;
    transition: 0.5s;
  }
}

.paciente-container {
  align-content: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}


