@import '../../assets/mixins';
@import '../../assets/colors';

.container-fast-search {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: inherit;
}

.search-container {
  justify-content: flex-end;
  width: 100%;
}

.input-search {
  width: 50%;
}

.table {
  width: 100%;
  margin: 0;

  .tbody {
    width: 100%;

    .row {
      border-radius: 0;

      &:hover {
        border-radius: 0px;
        transition: 0.3s;
        cursor: pointer;
        background-color: $gray-60;
      }
    }
  }
}

.content-default {
  height: 300px;
}

.withoutData {
  align-self: flex-end;
  width: 200px;
  font-size: 17px;
}

.loading {
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  //z-index: 99;
  position: absolute;
  width: 100%;
  height: calc(100% - 20px);
  background-color: $white;
  font-size: 30px;

  .heart {
    z-index: 1;
    color: $light-danger;
    animation: heart-animation 300ms alternate infinite;

    @keyframes heart-animation {
      100% {
        color: $danger;
      }
    }
  }
}

.loaded {
  display: none;
}

