<section class="container-fast-search">
  <nav class="nav-container">
    <div [formGroup]="searchForm" class="search-container">
      <input formControlName="searchControl" id="search-text" class="input-search" placeholder="Busca.." type="text">
      <button id="search-button">
        <fa-icon [icon]="['fas','search']"></fa-icon>
      </button>
    </div>
  </nav>

  <section [scrollWindow]="false" [hidden]="true" infinite-scroll (scrolled)="scrollDown()"
           [ngStyle]="{'height':height}" class="content-default">
    <main class="table" infinite-scroll>
      <section *ngIf="dataArray!=null" class="tbody">
        <div *ngFor="let data of dataArray;" class="row" [ngClass]="{'disable' : !data?.ativo}">
        <span (click)="emitData(data)" *ngFor="let field of fields; index as i" [ngStyle]="{'flex': widthField[i]}"
              class="td">{{data[field]}}</span>
        </div>
        <div class="withoutData" *ngIf="dataArray.length == 0">
          {{messageStatus}}
          <fa-icon class="icon" [icon]="['fas','frown']" size="2x"></fa-icon>
        </div>
      </section>
    </main>
  </section>
</section>

<div class="loaded" #spinner>
  Carregando...
  <fa-icon class="heart" [icon]="['fas','heart']"></fa-icon>
</div>

<!--
<ngx-spinner bdColor="rgba(255,255,255, 0.7)" color="#4DC2B3" size="small" type="ball-pulse">
  <p class="spinner-title">Carregando...</p>
</ngx-spinner>
-->
