@import '../../assets/colors';

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  & {
    background-color: $white;
    color: $danger;
    opacity: 0.8;
    border-radius: 5px;
  }
}

.error-content {
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 1px 10px $gray-100;
  display: flex;
  align-items: center;

  animation: error-container 1s;

  @keyframes error-container {
    from {
      box-shadow: 0 0 0 white;
    }
  }
}

.message, .cod, .icon {
  top: 0;
  left: 0;
  position: relative;
  margin: 0 5px;

}

.message {
  width: 300px;
  font-size: 20px;
  animation: error-message 1s;

  @keyframes error-message {
    from {
      left: -10px;
      color: transparent;
    }
  }
}

.cod {
  font-size: 40px;
  animation: error-cod 1s;

  @keyframes error-cod {
    from {
      color: transparent;
      opacity: 1;
      left: 30px;
    }
  }
}

.icon {
  left: 0;
  position: relative;
  font-size: 38px;

  animation: error-icon 1s;

  @keyframes error-icon {
    from {
      color: transparent;
      left: 30px;
      top: 30px;
    }
  }
}
