@import '../../assets/colors';
.nome {
  flex: 3;
}

.login {
  margin-left: 5px;
}



.container-edit-usuario {
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 0;
  margin: 20px;
  height: 380px;
  width: 400px;

  & {
    background-color: $gray-50;
    box-shadow: 0 0 6px $gray-100;
    border-radius: 5px;
  }

  .form-container {
    align-items: flex-end;
  }
}

.button-save {
  margin: 4px;
  width: 70px;
  height: 40px;

  & {
    letter-spacing: 1px;
    font-weight: 400;
    background-color: rgba($blue-default, 0.8);
    color: $white;
  }

  &:hover {
    background-color: $blue-default;
  }
}


#nome{
  text-transform: capitalize;
}
#email{
  text-transform: lowercase;
}
