<div class="offStatus" #ativo>
  <h1 class="title-status">Usuário Salvo</h1>
  <fa-icon class="icon" [icon]="['fas','check']"></fa-icon>
</div>
<spinner *ngIf="spinner"></spinner>
<nav class="nav-container">
  <a [routerLink]="['/usuario','list']" class="back">
    <fa-icon [icon]="['fas','arrow-left']"></fa-icon>
    Voltar
  </a>
  <h3>Alteração de Usuário</h3>
  <div [formGroup]="searchForm" [ngStyle]="{'visibility': 'hidden'}" class="search-container">
    <input formControlName="searchControl" id="search-text" placeholder="Procure: Nome, crm ou login..." type="text">
    <button id="search-button">
      <fa-icon [icon]="['fas','search']"></fa-icon>
    </button>
  </div>
</nav>

<main class="content-default">
  <section class="container-edit-usuario">
    <form class="form-container" [formGroup]="usuarioForm">
      <div class="form-group">
        <label class="form-label" for="nome">nome</label>
        <input (focusout)="attach('nome')" (change)="attach('nome')" class="form-control" id="nome" formControlName="nome" type="text">
        <div class="form-invalid" *ngIf="validateArray?.nome">
          O usuário precisa ter um nome
          <fa-icon [icon]="['fas','frown']"></fa-icon>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="login">login</label>
        <input (change)="attach('login')" class="form-control" id="login" formControlName="login" type="text">
        <div class="form-invalid" *ngIf="validateArray?.login">
          O login não pode ser vazio
          <fa-icon [icon]="['fas','frown']"></fa-icon>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="crm">crm</label>
        <input class="form-control control-disable" id="crm" formControlName="crm" type="text">
      </div>
      <div class="form-group">
        <label class="form-label" for="perfil">perfil</label>
        <select (change)="attach('perfil')" class="form-control" id="perfil" formControlName="perfil">
          <option value="1">admin</option>
          <option value="2">médico</option>
        </select>
        <div class="form-invalid" *ngIf="validateArray?.perfil">
          Você precisa escolher um perfil
          <fa-icon [icon]="['fas','frown']"></fa-icon>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="telefone">telefone</label>
        <input (change)="attach('telefone')" class="form-control" id="telefone" formControlName="telefone" type="text">
      </div>
      <div class="form-group">
        <label class="form-label" for="ativo">status</label>
        <select (change)="attach('ativo')" class="form-control" id="ativo" formControlName="ativo">
          <option value="">selecione</option>
          <option value="false">desativado</option>
          <option value="true">ativo</option>
        </select>
        <div class="form-invalid" *ngIf="validateArray?.ativo">
          Você quer ativar ou desativar o usuário?
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="email">email</label>
        <input type="text" (change)="attach('email')" class="form-control" id="email" formControlName="email">
        <div class="form-invalid" *ngIf="validateArray?.email">
          Email Inválido. Tente colocar um @
        </div>
      </div>
      <button (click)="save()" class="button button-save">Salvar</button>
    </form>
  </section>
</main>
