<!--
<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/usuario','list']" class="list">Usuario List</a></li>
    </ul>
</div>
<div id="persist-usuario" class="content scaffold-edit" role="main">
    <h1>{{create ? "Create" : "Edit"}} Usuario</h1>
    <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>

    <form name="save{className}" (ngSubmit)="save()">
        <fieldset class="form">
            <fieldset class="form">
  <div class="fieldcontain required">
    <label for="nome">Nome
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="nome" id="nome" [(ngModel)]="usuario.nome" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="login">Login
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="login" id="login" [(ngModel)]="usuario.login" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="senha">Senha
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="senha" id="senha" [(ngModel)]="usuario.senha" type="text" />
  </div>
  <div class="fieldcontain">
    <label for="crm">Crm</label>
    <input name="crm" id="crm" [(ngModel)]="usuario.crm" type="text" />
  </div>
  <div class="fieldcontain">
    <label for="ultimoAcesso">Ultimo Acesso</label>
    <input name="ultimoAcesso" id="ultimoAcesso" type="date" placeholder="YYYY-MM-DD" [value]="usuario.ultimoAcesso | date:'y-MM-dd'" (change)="usuario.ultimoAcesso = $event.target.valueAsDate" />
  </div>
  <div class="fieldcontain required">
    <label for="perfil">Perfil
      <span class="required-indicator">*</span>
    </label>
    <select required="" name="perfil" id="perfil" [(ngModel)]="usuario.perfil">
      <option *ngFor="let perfil of perfilList" [value]="perfil.id" [selected]="usuario.perfil?.id == perfil.id">{{perfil.toString()}}</option>
    </select>
  </div>
  <div class="fieldcontain">
    <label for="atendimentos">Atendimentos</label>
    <a [routerLink]="['/atendimento/create', {usuarioId: usuario.id}]">Add Atendimento</a>
  </div>
</fieldset>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" class="save" [value]="create ? 'Save' : 'Update'" />
        </fieldset>
    </form>
</div>-->
