<div class="offStatus" #status>
  <h1 class="title-status">Status alterado</h1>
  <fa-icon class="icon" [icon]="['fas','check']"></fa-icon>
</div>
<ngx-spinner bdColor="rgba(255,255,255, 0.7)" color="#4DC2B3" size="medium" type="ball-pulse">
  <p class="spinner-title">Carregando...</p>
</ngx-spinner>
<nav class="nav-container">
  <a href="" class="back" [ngStyle]="{'visibility': 'hidden'}">
    <fa-icon [icon]="['fas','arrow-left']"></fa-icon>
    Voltar
  </a>
  <h3>Usuários do sistema</h3>
  <div [formGroup]="searchForm" class="search-container">
    <input formControlName="searchControl" id="search-text" placeholder="Procure: Nome, crm ou login..." type="text">
    <button id="search-button">
      <fa-icon [icon]="['fas','search']"></fa-icon>
    </button>
  </div>
</nav>
<section [scrollWindow]="false" [hidden]="true" infinite-scroll (scrolled)="scrollDown()" class="content-default">
  <main class="table">
    <section class="thead">
      <span class="th login">LOGIN</span>
      <span class="th nome">NOME</span>
      <span class="th">CRM</span>
      <div class="th options">
        <fa-icon [icon]="['fas','cog']"></fa-icon>
      </div>
    </section>
    <section *ngIf="usuarios!=null" class="tbody">
      <div *ngFor="let usuario of usuarios;" class="row" [ngClass]="{'disable' : !usuario?.ativo}">
        <span class="td login">{{usuario.login}}</span>
        <span class="td nome">{{usuario.nome}}</span>
        <span class="td">{{usuario.crm}}</span>
        <div class="td options">
          <fa-icon [routerLink]="['/usuario','edit',usuario.id]" class="icon login" [icon]="['fas','edit']"></fa-icon>
          <fa-icon [routerLink]="['/agenda','list',usuario.id]" class="icon" [icon]="['fas','calendar-alt']"></fa-icon>
          <fa-icon (click)="onOff(usuario)" class="icon" [icon]="['fas','power-off']"></fa-icon>
        </div>
      </div>
      <div class="withoutData" *ngIf="usuarios.length == 0">
        Nenhum usuário foi encontrado!
        <fa-icon class="icon" [icon]="['fas','frown']" size="2x"></fa-icon>
      </div>
    </section>
  </main>
</section>
<!--<fast-search (getData)="getEventData($event)" [service]="usuarioService" [fields]="['nome','crm']"
             [widthField]="['2','1']"></fast-search>-->
