@import '../../assets/colors';


.nome {
  flex: 3;
}

.login {
  margin-left: 5px;
}

.disable {
  color: $gray-70;
}

.onStatus {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 0;
  width: 0;
  z-index: 99;
  font-size: 25px;

  & {
    background-color: $green-default;
    color: transparent;
    border-radius: 2px;
    opacity: 1;
    -webkit-animation: show 2s;
    -o-animation: show 2s;
    animation: show 2s;
    box-shadow: 1px 2px 6px black;
  }

  .title-status {
    font-weight: 500;
  }

  .icon {
    font-size: 35px;
    text-align: center;
    margin-left: 10px;
  }

  @keyframes show {
    0% {
      height: 50%;
      width: 50%;
    }
    50% {
      color: $white;
      opacity: 1;
      height: 50%;
      width: 50%;
    }
    100% {
      opacity: 0;
      font-size: 30px !important;
    }
  }
}

.offStatus {
  color: transparent;
  display: none;
}

.container-edit-usuario {
  position: absolute;
  left: 0;
  margin: 20px;
  display: flex;
  height: 350px;
  width: 400px;

  & {
    background-color: $gray-50;
    box-shadow: 0 0 6px $gray-100;
    border-radius: 5px;
  }

  .form-container {
    align-items: flex-end;
  }
}

.button-save {
  width: 70px;
  height: 40px;

  & {
    letter-spacing: 1px;
    font-weight: 400;
    background-color: rgba($blue-default, 0.8);
    color: $white;
  }

  &:hover {
    background-color: $blue-default;
  }
}
