<main class="table">
  <section class="thead">
    <span class="th">LOGIN</span>
    <span class="th">NOME</span>
    <span class="th">CRM</span>
    <span *ngIf="options" class="th options">
      <fa-icon [icon]="['fas','cog']"></fa-icon>
    </span>
  </section>
  <section class="tbody">
    <div *ngFor="let array of tableContent;" class="row">
      <span *ngFor="let item of array" class="td">{{item}}</span>
      <div class="td options">
        <fa-icon class="icon" [icon]="['fas','edit']"></fa-icon>
        <fa-icon class="icon" [icon]="['fas','power-off']"></fa-icon>
        <fa-icon class="icon" [icon]="['fas','trash-alt']"></fa-icon>
        <fa-icon class="icon" [icon]="['fas','calendar-alt']"></fa-icon>
      </div>
    </div>
  </section>
</main>

