  <nav class="nav-container">
    <a href="" class="back">
      <fa-icon [icon]="['fas','arrow-left']"></fa-icon>
      Voltar
    </a>

    <h3>Usuários do sistema</h3>

    <div class="search-container">
      <input id="search-text" placeholder="Procure: Nome, crm ou login..." type="text">
      <button id="search-button">
        <fa-icon [icon]="['fas','search']"></fa-icon>
      </button>
    </div>
  </nav>
  <section class="content-default">
    <main class="table">
      <section class="thead">
        <span class="th">LOGIN</span>
        <span class="th">NOME</span>
        <span class="th">CRM</span>
        <div class="th options">
          <fa-icon [icon]="['fas','cog']"></fa-icon>
        </div>
      </section>
      <section class="tbody">
        <div *ngFor="let user of users;" class="row">
          <span class="td">{{user.login}}</span>
          <span class="td">{{user.name}}</span>
          <span class="td">{{user.login}}</span>
          <div class="td options">
            <fa-icon class="icon" [icon]="['fas','edit']"></fa-icon>
            <fa-icon class="icon" [icon]="['fas','power-off']"></fa-icon>
            <fa-icon class="icon" [icon]="['fas','trash-alt']"></fa-icon>
            <fa-icon class="icon" [icon]="['fas','calendar-alt']"></fa-icon>
          </div>
        </div>
      </section>
    </main>
  </section>
