@import "~src/styles";

.content-default {
  display: flex;
  justify-content: center;
  align-content: baseline;
  justify-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.card {
  position: relative;
  background-color: $white;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  width: 140px;
  margin: 10px;
  height: 160px;
  border: 1px solid $gray-70;
  font-size: 50px;
  cursor: pointer;

  &:hover {
    transition: 0.3s;
    box-shadow: 1px 1px 10px $gray-100;
  }

  .day {
    font-weight: 500;
  }
}

.informations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 115px;
  height: 70px;
  padding: 5px;
  font-size: 16px;
  color: $gray-90;
  border-radius: 5px;
  background-color: $gray-20;
  border: 1px solid $gray-70;
  letter-spacing: 1px;
}

.withoutData {
  margin: 10px;
  left: 0;
}
