<nav class="nav-container">
  <a (click)="back()" [ngStyle]="{'visibility': isMedico(usuarioLogado.crm) ? 'hidden': 'visible'}" [routerLink]="['/']"
     class="back">
    <fa-icon [icon]="['fas','arrow-left']"></fa-icon>
    Voltar
  </a>
  <h3>{{getMes()}}</h3>
  <div [ngStyle]="{'visibility': 'hidden'}" class="search-container">
    <input id="search-text"
           placeholder="Procure: Nome, crm ou login..." type="text">
    <button id="search-button">
      <fa-icon [icon]="['fas','search']"></fa-icon>
    </button>
  </div>
</nav>
<section infinite-scroll class="content-default">
  <section (click)="send(dia)" class="card" *ngFor="let dia of dias">
      <h1
        [ngStyle]="{'color': dia < getToday() ? '#A9ABAE' : dia > getToday()? '#5A5B5B' : dia == getToday() ? '#2B517E' : '#A9ABAE'}"
        class="day">{{dia}}</h1>
      <div class="informations">
        <p>Atendidos:{{countAtendidos(dia)}}</p>
        <p>Efetivados:{{countEfetivados(dia)}}</p>
        <p>Agendados:{{countAgendados(dia)}}</p>
      </div>
  </section>
  <div class="withoutData" *ngIf="agendas?.size == 0">
    Você ainda não possui agendas neste mês!
    <fa-icon class="icon" [icon]="['fas','frown']" size="2x"></fa-icon>
  </div>
</section>
<spinner *ngIf="spinner"></spinner>

