<nav class="nav-top">
  <a [routerLink]="['/']" class="btn-back">
    <fa-icon [icon]="['fas','arrow-left']"></fa-icon>
    Voltar
  </a>
  <p class="title-main">Julho</p>
</nav>
<perfect-scrollbar class="content-default">
  <section>
    <ul class="agenda-list">
        <li #agendaColumnList class="agenda-column-list" *ngFor="let dia of dayList">
          <a [routerLink]="['/agenda','show']"><h1 class="agenda-day-list">{{dia}}</h1></a>
            <div class="agenda-column-content-list">
              <p class="text-line-agenda">Agendados:  </p>
              <p class="text-line-agenda">Efetivados:  </p>
              <p class="text-line-agenda">Atendidos:  </p>
            </div>
        </li>
    </ul>
  </section>
</perfect-scrollbar>
