@import "../../assets/colors";

.login-container {
  position: relative;
  display: flex;
  width: 380px;
  height: 440px;
  flex-direction: column;

  & {
    border-radius: 0 50px 20px 100px;
    box-shadow: -5px 0 15px -7px, 5px 0 15px -7px;
  }

  .top, .bottom {
    display: flex;
    height: 45%;
    flex-direction: column;
  }

  .top {
    align-items: center ;
    align-content: center;
    justify-content: center;

    & {
      font-size: 35px;
      background-color: $green-default;
      border-radius: 0 50px 0 0;
      color: $white;
    }

    .system-name, .system-description {

      & {
        text-shadow: 2px 2px 5px $gray-100;
        font-weight: 500;
        letter-spacing: 1px;
      }
    }

    .system-description {
      text-align: center;
      width: 200px;
      & {
        font-size: 15px;
        font-weight: 400;
      }
    }

    .img-login {
      opacity: 1;
      width: 100px;
    }
  }

  .bottom {
    height: 55%;
    justify-content: center;
    align-items: center;

    .login-form-group {
      display: flex;
      align-items: center;
      height: 35px;
      width: 250px;
      z-index: 99;

      & {
        margin-bottom: 30px;
      }

      .login-form-control {
        width: 100%;
        height: 50px;

        & {
          background-color: transparent;
          text-align: center;
          font-size: 18px;
          color: $gray-80;
          border-bottom: 1px solid $gray-70;
        }

        &::placeholder {
          color: $gray-70;
        }

        &:focus {
          transition: 0.4s;
          border-bottom: 1px solid $gray-100;
        }
      }

      .login-icon, .send-icon,.eye-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        width: 30px;
        height: 30px;

        & {
          color: $gray-80;
          background-color: $gray-60;
          position: absolute;
          border-radius: 100%;
          box-shadow: 1px 1px 5px $gray-100;
        }
      }

      .eye-icon{
        background-color: transparent;
        color: $gray-70;
        box-shadow: 0 0 10px $gray-70;
        position: absolute;
        right: 70px;
        align-self: center;
        cursor: pointer;
      }

      .send-icon {
        & {
          cursor: pointer;
          background-color: $gray-80;
          color: $gray-60;
        }
      }

      .button-login {
        height: 50px;
        width: 100%;

        & {
          cursor: pointer;
          border-radius: 5px;
          background-color: $gray-60;
          box-shadow: 1px 1px 8px $gray-80;
          color: $gray-100;
          font-size: 16px;
        }

        &:hover {
          transition: 0.1s;
          box-shadow: 0 0 15px $gray-100;
        }
      }
    }
  }
}

