<main class="container">
  <section class="login-container">
    <section class="top">
      <img class="img-login" src="../../images/heart.png">
      <div class="system-name">
        <h1 class="bold">Amb</h1>
        <h1 class="thin">cor</h1>
      </div>
      <h3 class="system-description">Sistema de atendimento ambulatorial</h3>
    </section>
    <section [formGroup]="loginForm" (ngSubmit)="login()" class="bottom">
      <div class="login-form-group">
        <fa-icon class="login-icon" [icon]="['fas','user']"></fa-icon>
        <input class="login-form-control" formControlName="login" placeholder="login" type="text">
      </div>
      <div class="login-form-group">
        <fa-icon class="login-icon" [icon]="['fas','lock']"></fa-icon>
        <fa-icon *ngIf="visible" (click)="showPass()" class="login-icon eye-icon" [icon]="['fas','eye']"></fa-icon>
        <fa-icon *ngIf="!visible" (click)="showPass()" class="login-icon eye-icon"
                 [icon]="['fas','eye-slash']"></fa-icon>
        <input class="login-form-control" [type]="'password'" formControlName="senha" placeholder="senha" #password>
      </div>
      <div>
        <a class="label-forgot"  href="#" [routerLink]="['/forgot']">Esqueceu a senha ?</a>
      </div>
      <div class="login-form-group">
        <fa-icon (click)="login()" class="login-icon send-icon" [icon]="['fas','paper-plane']"></fa-icon>
        <button (click)="login()" class="button-login">Entrar</button>
        <div [ngClass]="[ this.error ? 'invalid': 'valid']">
          {{messageError}}
          <fa-icon class="icon" [icon]="['fas','frown']"></fa-icon>
        </div>
      </div>
    </section>
  </section>
</main>
