@import '../../assets/mixins';
@import '../../assets/colors';
@import '../../fonts/manjari';


$header-height: 70px;
.container-header {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: $header-height;

  & {
    background-color: $green-default;
    color: $white;
    box-shadow: 0 3px 6px $gray-90;
  }

  .system-name {
    justify-content: center;
    display: flex;
    flex: 1;
    text-align: center;
    letter-spacing: 7px;
    font-size: 20px;

    .bold, .thin {
      text-shadow: 2px 2px 5px $gray-100;
      font-family: 'manjari-Bold', sans-serif;
      letter-spacing: 4px;
    }

    .thin {
      font-family: 'manjari-thin', sans-serif;
      font-weight: 100;
    }
  }

  .user-information, #exit {
    flex: 1;
    margin: 0 20px;
    text-align: left;
    text-transform: capitalize;
  }


  #exit {
    @include icons-hover(0.3s, $white);
    text-align: right;
    transition: 0.3s;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.8);
  }
}
