@import '../../assets/mixins';
@import '../../assets/colors';

.menu {
  @include container-form(flex, 100%, 80px, $gray-50, $gray-70);
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  z-index: 1;

  & {
    font-size: 35px;
    box-shadow: 1px 5px 6px $gray-90;
    background-color: $gray-50;
  }

  .menu-item {
    color: $gray-70;
    margin: 10px auto;
    @include icons-hover(0.3s, $gray-100);
  }
}

.menu-container {
  display: flex;
  flex-direction: row;
  height: calc(100% - 80px);
}
